.card.price {
  margin-left: 20px;
  width: 18rem;
  display: inline-block;
  vertical-align:top;
}

.card.price .card-body {
  text-align: center;
}

.value {
  float: left;
  width: 100%;
  height: 100px;
  color: black;
  line-height: 100px;
  font-size: 50px;
  text-align: center;
  opacity: 1;
  cursor: pointer;
}