.results-div {

  text-align: left;


  #results {
    padding-left: 4px;
    border: 1px solid #c0c0c0;
    display: inline-block;
    width: 150px;

    li {
      list-style-type: none;
      cursor: pointer;

      &:hover {
        background-color: silver;
      }
    }
  }
}
